body {
  font-family: 'Arial', sans-serif;
  background-color: #00aaff; /* Fondo celeste */
  margin: 0;
  padding: 0;
  color: #ffffff; /* Texto blanco */
}

h3 {
  margin: 0;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cccccc; /* Botón con hover en gris claro */
}
