/* App.css */

body {
  font-family: 'Impact, sans-serif';
  margin: 0;
  padding: 0;
  color: #ffffff; /* Texto blanco */
  background-image: url('https://resizer.glanacion.com/resizer/v2/el-colegio-de-lugano-que-depende-de-la-LUH2HGFRKVBTRLFKL5JJBMX2VY.jpg?auth=cc3a1a87a939ff1f85202d5283956f1bbe920bdde768a2b588a516cea3831b1d&width=780&height=439&quality=70&smart=true'); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
}

h3 {
  margin: 0;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ec0909; /* Botón con hover en gris claro */
}
